<div class="container mt-5">
    <h2>Password Reset Successful</h2>
    <p>Your password has been successfully reset. You can now log in with your new password.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary mt-3">Return to Login</a>
</div>
